autostart/*
dconf/*
'Docker Desktop'/*
enchant/*
eog/*
evolution/*
flutter/*
gedit/*
glib-2.0/*
gnome-control-center/*
gnome-initial-setup/*
gnome-session/*
go/*
goa-1.0/*
gtk-3.0/*
gtk-4.0/*
ibus/*
ibus_mozc_gnome-initial-setup-done
kittyconfback.conf
libreoffice/*
mimeapps.list
monitors.xml
monitors.xml~
mozc*
nautilus/*
pop-shell/*
pop-system-updater/*
protonmail/*
pulse/*
qalculate/*
QtProject.conf
SpeedCrunch/*
tmux/*
touchegg/*
tuxedo-control-center/*
user-dirs.dirs
user-dirs.locale
github-copilot/*
Docker Desktop/*
.gsd-keyboard.settings-ported
gnome-initial-setup-done
